@font-face {
  font-family: 'DancingScriptBold';
  src: url('../fuentes/DancingScript-Bold.ttf');

}

body{
  font-family: 'DancingScriptBold';
  background-color: #02010a;
}

.cabecera{
  animation-duration: 1s;
  animation-name: slidein;
}

@-webkit-keyframes slidein{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

.contenido{
  max-width: 900px;
  margin:0 auto;
}

.cabecera{
  height: 100px;
  background-color: #5b7989;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.cabecera h2{
  margin-top: 30px;
  margin-left: 10px;
  float: left;
}

.cabecera nav{
  float: right;
  margin-top: 40px;
  margin-right: 10px;
}

.cabecera nav a{
  color: white;
}

/************INDEX************/

.imagen_central{
  background-color: #82c3a6;
  padding-top: 12px;
  padding-bottom: 12px;
}

.imagen_secundaria{
  display: flex;
  background-color: #d5c75f;
  padding-top: 12px;
  padding-bottom: 12px;
}

#imagen1{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 90%;
}

#img_secundaria1{
  box-shadow: 2px 2px;
  width: 90%;
}

#img_secundaria2{
  box-shadow: 2px 2px;
  width: 90%;
}

.imagen_secundaria div{
  flex: 50%;
  text-align: center;
  text-decoration: underline;
  padding-top: 10px;
  padding-bottom: 10px;
}

.imagen_secundaria div img{
  border: 1px solid;
}

#img_secundaria1:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
  transition-property: transform;
  transition-duration: 1s;
}

#img_secundaria2:hover{
  transform: translate(20px, -5px);
  border: 2px;
  box-shadow: 2px 2px #82c3a6;
  transition-property: transform;
  transition-duration: 1s;
}

/************PAISAJES - RETRATOS************/

.galeria{
  display: flex;
  flex-flow: row wrap;
  background-color: #d5c75f;
}

.galeria div{
  flex: 33%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.galeria div img{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#img_galeria1{
  -webkit-filter:blur(10px);
  filter: blur(10px);
}

#img_galeria2{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}

#img_galeria3{
  -webkit-filter:sepia(90%);
  filter: sepia(90%);
}

#img_galeria4{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}

#img_galeria6{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}

/************FOOTER************/

footer{
  background-color:#C6d5c5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
}

.contacto{
  width: 25%;
}

.contacto h2,.contacto p{
  padding-left: 50px;
}

.contacto a{
  color: black;
}

.terminos{
  width: 25%;
}

.terminos h2,.terminos p{
  padding-left: 50px;
}

.redes_sociales{
  width: 25%;
}

.redes_sociales h2,.redes_sociales p{
  padding-left: 50px;
}

.redes_sociales img{
  width: 20px;
}

.derechos{
  width: 25%;
}

.derechos h2,.derechos p{
  padding-left: 50px;
}

/************VERSIÓN MÓVIL************/

@media (min-width: 320px) and (max-width: 900px){
  .contenido{
    width: 100%;
  }
  .cabecera{
    text-align: center;
  }
  .cabecera h2, .cabecera nav{
    float: none;
  }
  footer{
    display: grid;
  }
  .contacto{
    width: 100%;
  }
  .terminos{
    width: 100%;
  }
  .redes_sociales{
    width: 100%;
  }
  .derechos{
    width: 100%;
  }
  .galeria{
    display: grid;
  }
  .imagen_secundaria{
    display: grid;
  }
}
